.chip {
	display: inline-block;
	padding: 8px 16px;
	background-color: #f3f3f3;
	border-radius: 16px;
	font-size: 13px;

	&[class*='disabled'] {
		// color: #1e1e1e66;
		// background-color: #f3f3f366;
		opacity: 0.5;
	}

	&[class*='checked'] {
		padding-right: 34px;
		&::after {
			content: '';
			background: url('./ic-check.svg');
			background-size: cover;
			position: absolute;
			width: 15px;
			height: 12px;
			margin-left: 8px;
		}
	}

	&[class*='primary'] {
		color: #fff;
		background-color: #7269ef;
	}

	&[class*='outline'] {
		background-color: #fff;
		border: 1px solid #9ea0a8;
	}

	&[class*='outline-primary'] {
		color: #7269ef;
		border: 1px solid #7269ef;
	}

	&[class*='checked-primary'] {
		padding-right: 34px;
		&::after {
			content: '';
			background: url('./ic-check-white.svg');
			background-size: cover;
			position: absolute;
			width: 15px;
			height: 12px;
			margin-left: 8px;
		}

		&[class*='outline-primary'] {
			&::after {
				content: '';
				background: url('./ic-check-primary.svg');
				background-size: cover;
				position: absolute;
				width: 15px;
				height: 12px;
				margin-left: 8px;
			}
		}
	}

	&-sm {
		padding: 4px 16px;
	}
}
